.side-list-item {
  font-size: 15px;
  color: #737373;
  font-weight: bold;
  padding: 5%;
}

.side-list-item a {
  color: #737373;
  text-decoration: none;
}

.side-list-item a:hover {
  color: #000000;
  transition: all 0.5s ease;
}

.center-image
{
	margin: 0 auto;
	display: block;
}
